<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Finskore</title>
        <link href="style.css" type="text/css" rel="stylesheet">

    </head>
    <body>
        <div id="app" v-cloak v-bind:class="'theme-' + theme">

            <header>
                <h1>{{ title }}</h1>
            </header>

            <p>
                <button @click="createNewGame()">New Game</button>
            </p>

            <form v-if="setupGame" @submit.prevent="addPlayer" class="createGame">
                <p>
                    <label for="newPlayer">New Player</label>
                    <input type="text" name="newPlayer" id="newPlayer" maxlength="20" required v-model="newPlayer">
                    <button @click.prevent="addPlayer">Add to Game</button>
                </p>

                <p>
                    <label for="playTo">Play To</label>
                    <input type="number" min="12" max="1000" v-model="playToScore">
                </p>

                <button @click="startGame">Start Game</button>
            </form>

            <!-- Enter players score for a turn -->
            <form class='enterScore' v-if="showScoreModal" @submit.prevent="saveScore()">

                <h2>{{ nameForScoring }} Score</h2>
                <p>
                    <input type="number" name="addScore" id="addScore" max="12" min="0" step="1" value="0">
                    <button type="submit">Save</button>
                </p>

                <button @click.prevent="showScoreModal=false">Cancel</button>
            </form>


            <!-- LEADERBOARD -->
            <section class="leaderboard">
                <div v-for="(p, index) in players" class="player" v-bind:class="{struckout: hasStruckOut(p)}">
                    <div class='pos'>{{ position(p) }}</div>
                    <div class="player">
                        <div class="name" @click="enterScoreForm(index)">{{ p.name }}</div>
                        <div class="strikes">{{ showStrikes(p) }}</div>
                    </div>
                    <div class="score">{{ p.score }}</div>
                    <div class="togo">{{ playToScore-p.score }}</div>
                </div>
            </section>

        </div> <!-- /#app -->

        <script>
            document.body.style.minHeight = window.visualViewport.height + 'px';
        </script>

        <script src="js/vue.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>