<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Finskore</title>
        <link href="style.css" type="text/css" rel="stylesheet">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" sizes="192x192" href="img/icon_192.png">
        <link rel="icon" sizes="32x32" href="img/icon_32.png">

        <link rel="apple-touch-icon" sizes="76x76"   href="img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">

        <meta property="og:title" content="Finskore - browser based scoring app for Finska &amp; Klop">
        <meta property="og:image" content="img/cover.png">
        <meta name="description" content="Finskore - online scoring app for Finska, Klop &amp; Molkky. Keep score in your browser">

    </head>
    <body>

        <div id="app" v-cloak v-bind:class="'theme-' + theme">

            <header>
                <h1>Finskore</h1>
                <p>Online scoring app for Finska, Klop &amp; Molkky</p>
            </header>

            <p v-show="!gameInProgress">
                <button @click="createNewGame()">Add Players</button>
            </p>

            <!-- DECLARE WINNER -->
            <section v-show="winner !== ''" class="winner">
                <h2>{{ winner }} Won!</h2>
                <p>
                    <button class="cancel" @click="winner=''">close</button>
                </p>
            </section>

            <!-- SETUP GAME -->
            <form v-if="setupGame" @submit.prevent="addPlayer" class="createGame">
                <h2>Add Players</h2>
                <p>
                    <label for="newPlayer">New Player</label>
                    <input type="text" name="newPlayer" id="newPlayer" maxlength="20" required v-model="newPlayer">
                    <button @click.prevent="addPlayer">Add to Game</button>
                </p>

                <p class="center">
                    <button @click.prevent="setupGame=false" class="cancel">close</button>
                    <button @click="startGame">Start Game</button>
                </p>
            </form>


            <!-- Enter players score for a turn -->
            <form class='enterScore' v-if="showScoreModal" @submit.prevent="saveScore()">

                <h2>{{ nameForScoring }} Game</h2>

                <div class="score-container">

                    <div class='score' @click="saveScore">
                        <button data-score="0" class="miss">MISS</button>
                        <button data-score="1">1</button>
                        <button data-score="2">2</button>
                        <button data-score="3">3</button>
                        <button data-score="4">4</button>
                        <button data-score="5">5</button>
                        <button data-score="6">6</button>
                        <button data-score="7">7</button>
                        <button data-score="8">8</button>
                        <button data-score="9">9</button>
                        <button data-score="10">10</button>
                        <button data-score="11">11</button>
                        <button data-score="12">12</button>
                    </div>

                    <!-- TURN HISTORY -->
                    <div class='history' v-if="scoringNow.turns.length > 0">
                        <div class='line'></div>
                        <div class='turn' v-for="turn in scoringNow.turns">
                            {{ turn }}
                        </div>
                    </div>

                </div>

                <p>
                    <button v-if="!gameInProgress" @click.prevent="deletePlayer" class="warning">Delete</button>
                    <button @click.prevent="showScoreModal=false" class="cancel">Cancel</button>
                </p>

                <p>
                    <button @click="whoseTurn = scoringIndex; showScoreModal = false;" class="cancel">Set to {{ nameForScoring }} turn</button>
                </p>

            </form>


            <!-- LEADERBOARD -->
            <section class="leaderboard">
                
                <div v-for="(p, index) in players"
                    @click="enterScoreForm(index)"
                    class="player"
                    v-bind:class="{struckout: hasStruckOut(p), myturn: whoseTurn === index, winning: p.position === 1}">

                    <div class='pos'>{{ showPosition(p.position) }}</div>
                    <div class="player">
                        <div class="name">{{ p.name }} <img v-show="p.theyBlewIt" src="img/sad.png" alt=":("></div>
                        <div class="strikes">{{ showStrikes(p) }}</div>
                    </div>
                    <div class="score">{{ p.score }}</div>
                    <div class="togo">{{ playToScore-p.score }}</div>
                </div>
            </section>

            <p v-show="players.length > 0" class="right top-space">
                <button @click="resetGame" class="warning">Reset Everything</button>
                <button @click="resetScores">Reset Scores</button>
            </p>


            <div class='themeSwitcher'>
                <div @click="setTheme('default')" class='default'></div>
                <div @click="setTheme('hot')" class='hot'></div>
            </div>

            <footer>
                <p><small>Play to <input type="number" v-model.number="playToScore" max="1000"></small></p>

                <p>By <a href="https://www.mikehealy.com.au" rel="noopener">Mike Healy</a>. <a href="https://github.com/mike-healy/finskore" target="fsgh" rel="noopener">Finskore on Github</a></p>
            </footer>

        </div> <!-- /#app -->


        <script src="js/vue.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>