* {box-sizing: border-box;}

header, footer, section {
    display: block;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading..." }

body {
    padding: 16px;
    font-family: sans-serif;
    background: #08476e;
    background: linear-gradient(220deg,#64bf64, #08476e);
    color: #fff;
    font-size: 1rem;
    min-height: 100vh; /* thanks @jaaprood */
}

#app {
    margin: 0 auto;
    max-width: 768px;
    position: relative;
}

.center {text-align: center;}
.right {text-align: right;}
.top-space {margin-top: 4rem;}

header {margin-bottom: 2rem;}
header h1 {margin: 0;}

section.winner {
    padding: 1rem;
    text-align: center;
    background: #1d1d1d;
}

/* Leaderboard */
section.leaderboard > div.player {
    display: flex;
}

section.leaderboard > div {
    border-bottom: 1px solid #64bf64;
}

.player > div {
    padding: 1rem;
}

.player.myturn {
    background: #1b5f6b
}
.player.winning .pos{
    background: #134a61;
}

.player .player {
    flex-grow: 2;
}
.player .pos,
.player .score,
.player .togo {
    flex-shrink: 1;
}

.player .score {
    font-weight: bold;
}
.player .togo {
    opacity: 0.6;
}

.player .name,
.player .strikes {
    padding: 0 0 0.2rem 0;
}

.player .name {
    cursor: pointer;
}
.player .name img {
    display: block;
    margin-top: 4px;
    width: 32px;
    height: auto;
    border: none;
}

.struckout {
    text-decoration: line-through;
    color: #a7d5ef;
}


form {
    background: rgba(12, 58, 80, 0.96);
    padding: 2rem;
    padding-bottom: 1px;
    z-index: 5;
}

form h2 {
    margin-top: 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.3rem;
}


button {
    background: #1f5f58;
    border: 1px solid #75e679;
    color: #99ef9b;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin: 0.6rem 0;
}

button.cancel {
    color: #46a248;
    border-color: #46a248;
    background: rgb(12, 58, 80);
}

button.warning {
    margin-right: 1rem;
    background: #343038;
    border-color: #bf964a;
    color: #f19c87;
}

input[type=text],
input[type=number] {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
}

input[type=number] {
    margin-right: 0.5rem;
}

form.enterScore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
}


/* Scoring History */
.history {
    margin: 2rem auto;
    max-width: 150px;
    position: relative;
}

.history .line {
    position: absolute;
    z-index: 3;
    left: 49%;
    width: 3px;
    height: 100%;
    background: #19596c;
}

.history .turn {
    position: relative;
    z-index: 6;
    margin: 1rem auto;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    text-align: center;
    background: #19596c;
    color: #77c97c;
}

/* Footer */
footer {
    font-size: 0.8rem;
    margin-top: 4rem;
}

footer a {color: #77c97c;}
footer a:visited {color: #6ebd73;}

footer a:hover {
    background: #6ebd73;
    color: #224241;
    text-decoration: none;
}

.themeSwitcher {
    position: absolute;
    bottom: 0;
    right: 0;
}
    .themeSwitcher > div {
        display: inline-block;
        width: 40px;
        height: 25px;
        cursor: pointer;
    }

    .themeSwitcher .default {background: #23676b; margin-right: 8px;}
    .themeSwitcher .hot {background: #eabd2e;}

    
/* THEME - HOT */
body.theme-hot {
    background: linear-gradient(110deg,#efb024,#dc7626);
}

.theme-hot footer a,
.theme-hot footer a:visited {
    color: #3c3c3c;
}
.theme-hot footer a:hover {
    background: #d24d15;
    color: #fff;
}

.theme-hot button {
    background: #ea5c11;
    border: 1px solid #ffecb6;
    color: #fff;
}

.theme-hot button.warning {
    background: #343038;
    border-color: #ff5722;
}

.theme-hot form {
    background: rgba(64, 31, 54, 0.96);
}

.theme-hot button.cancel {
    color: #dc8989;
    border-color: #8e5b75;
    background: rgb(105, 59, 83);
}

.theme-hot section.leaderboard {
    color: #0a2c3c;
}

.theme-hot section.leaderboard > div {
    border-bottom: 1px solid #efad26;
}

.theme-hot .player.winning .pos {
    color: #f7d182;
}

.theme-hot .player.myturn {
    background: #f7a448;
}

.theme-hot .struckout {
    color: #924f34;
}

.theme-hot .history .line {
    background: #311d28;
}
.theme-hot .history .turn {
    background: #311d28;
    color: #de7a26;
}