* {
    box-sizing: border-box;
}

body {
    padding: 16px;
    font-family: sans-serif;
    background: #08476e;
    background: linear-gradient(220deg,#64bf64, #08476e);
    color: #fff;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading..." }

#app {
    margin: 0 auto;
    max-width: 768px;
    position: relative;
}




/* Create Game */
form.createGame {
    padding: 1rem;
    background: #333;
}


/* Leaderboard */
section.leaderboard > div.player {
    display: flex;
}

.player > div {
    padding: 1rem;
}

.player .player {
    flex-grow: 2;
}
.player .pos,
.player .score,
.player .togo {
    flex-shrink: 1;
}

.player .score {
    font-weight: bold;
}
.player .togo {
    opacity: 0.6;
}

.player .name,
.player .strikes {
    padding: 0 0 0.2rem 0;
}

.struckout {
    text-decoration: line-through;
    color: #a7d5ef;
}



form.enterScore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(50, 63, 85, 0.94);
    padding: 1rem;
    z-index: 5;
}

.enterScore h2 {
    margin-top: 0;
}